<%- include header %>
    <form method="post">
        <input id="title" type="text" name="title" placeholder="标&nbsp;&nbsp;&nbsp;题">
        <br>
        <br>
        <textarea id="txt_content" name="post" cols="100" rows="30" placeholder="正文内容"></textarea> <br>
        <input id="inp_submit" type="submit" value="发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表">
    </form>
<%- include footer %>